<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

<div class="overlay">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-10">
            <div class="contact-us text-center">
                <h2 class="text-black"><strong>Contact Us</strong></h2>
                
                <p class="mb-5">Give us your feedback or contact us if you need help.</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="h-100 py-5 text-center px-3 align-content-between">
                            <div class="my-4 d-flex flex-row align-items-center">
                                <div class="rounded-circle border border-3 border-primary p-3" width="30px" height="30px">
                                    <img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" width="40px" </img>
                                </div>
                                <div class="p-1  w-100 text-center">
                                    <h5 class="text-primary">Address</h5>
                                    <p>461, Sugar camp, San jose, California, USA</p>
                                </div>
                            </div>
                            <div class="my-4 d-flex flex-row align-items-center mt-3">
                                <div class="rounded-circle border border-3 border-primary p-3" width="30px" height="30px">
                                    <img src="https://cdn-icons-png.flaticon.com/512/159/159832.png" width="40px"></img>
                                </div>
                                <div class="p-1 w-100 text-center">
                                    <h5 class="text-primary">Phone</h5>
                                    <p class="m-0">55555555</p>
                                </div>
                            </div>
                            <div class="my-4 d-flex flex-row align-items-center mt-3">
                                <div class="rounded-circle border border-3 border-primary p-3" width="30px" height="30px">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2089/2089181.png" width="40px" </img>
                                </div>
                                <div class="p-1 w-100 text-center">
                                    <h5 class="text-primary">Mail</h5>
                                    <p>virtualstoragemanagement@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6 ">
                        <div class="text-center px-1 ">
                            <div class="forms p-4 py-5 bg-primary rounded-3" style="box-shadow: 6px 6px 14px 0px #000000;">
                                <h5 class="text-white">Send Message</h5>
                                <div class="mt-4 inputs">
                                    <input type="text" class="form-control" placeholder="Name">
                                    <input type="text" class="form-control" placeholder="Email">
                                    <input type="text" class="form-control" placeholder="subject">
                                    <textarea class="form-control" placeholder="Type your message"></textarea>
                                </div>
                                <div class="button mt-4 text-left">
                                    <button class="btn btn-dark">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
