html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.nav-btn:hover {
    box-shadow: 0 0 0 5px #FFC107, 0 0 0 5px #616161;
}

.nav-elements {
    transition: all 0.1s ease;
}

    .nav-elements:hover {
        transform: scale(1.2);
    }
