<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VStorageManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="https://i.hizliresim.com/y483xrx.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="m-4">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3 rounded-3">
            <div class="container-fluid mx-4">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://i.hizliresim.com/c5gqcgb.png" height="80" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light fs-4 mx-2 nav-elements" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light fs-4 mx-2 nav-elements" asp-area="" asp-controller="Storages" asp-action="Index">Storages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light fs-4 mx-2 nav-elements" asp-area="" asp-controller="ToDoList" asp-action="Index">To Do List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light fs-4 mx-2 nav-elements" asp-area="" asp-controller="SampleStrorages" asp-action="Index">Sample Strorages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light fs-4 mx-2 nav-elements" asp-area="" asp-controller="Contact" asp-action="index">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a class="btn btn-light text-primary fs-6 mx-2 nav-btn fw-bold" href="">Profile</a>
                        <a class="btn btn-light text-primary fs-6 mx-2 nav-btn fw-bold" href="">Log out</a>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="bg-primary mx-4 px-4 rounded-3">

            <div class="d-flex flex-wrap justify-content-between align-items-center border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <svg class="bi" width="30" height="40">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>
                    <p class="mb-3 mb-md-0 text-white">This site is made by Enes Kurt & Ömer İlbey İkiz.</p>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex ">
                    <li class="ms-3">
                        <a class="text-light text-decoration-none" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-light text-decoration-none" asp-controller="Storages" asp-action="Index">
                            Storages
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-light text-decoration-none" asp-controller="ToDoList" asp-action="Index">
                            To Do List
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-light text-decoration-none" asp-controller="SampleStrorages" asp-action="Index">
                            Sample Strorages
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-light text-decoration-none" asp-controller="Contact" asp-action="index">
                            Contact
                        </a>
                    </li>

                </ul>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-muted" href="https://github.com/Enes-Kurt" target="_blank">
                            <img src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" class="bi" width="30" height="30"></img>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="https://www.linkedin.com/in/eneskurt/" target="_blank">
                            <img src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" class="bi" width="30" height="30"></img>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="https://www.instagram.com/enesskurtt96/" target="_blank">
                            <img src="https://cdn-icons-png.flaticon.com/512/1409/1409946.png" class="bi" width="30" height="30"></img>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
