<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
<style>
    #progressbar li {
        list-style-type: none;
        font-size: 12px;
        width: 33%;
        float: left;
        position: relative;
        background: #0D6EFD;
    }
</style>
<div class="form-card">
    <h2 class="fs-title text-center">Success !</h2>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-3">
            <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-7 text-center">
            <h5>You Have Successfully Register.</h5>
        </div>

    </div>
    <div class="row justify-content-center ">
        <div class="col-7 text-center w-100 ">
            <a class="btn btn-success mt-4 w-50">Login</a>
        </div>
    </div>
</div>